<section class="card">
  <h1>О программе</h1>
  <p>Автор: Каргин Михаил.</p>
  <p>Задание: Режимы ADMIN и пользователь, политика паролей (латиница, кириллица, цифры), MySQL хранение.</p>
</section>


