<section class="card">
  <h1>Администрирование</h1>
  <ul>
    <li><a href="/admin/users">Список пользователей</a></li>
    <li><a href="/admin/change-password">Сменить пароль администратора</a></li>
  </ul>
</section>


